/* Dani van Enk, 11823526 */

/* predefining some mulitple used colors */
$main-color: #E06;
$secondary-color: #0AE;

/* alignment inheritance */
%alignment {
    text-align: center;
}

/* button border color inheritance */
@mixin button_border($color) {
    border-color: darken( $color, 10%) !important;
}

/* button when clicked inheritance */
@mixin click($color) {
    background-color: darken( $color, 7%) !important;
    @include button_border($color);
    box-shadow: 0 0 0 0.2rem lighten( $color, 10%) !important;
}

@mixin button($color) {
    background-color: $color !important;
    @include button_border($color);

    :hover {
        background-color: darken( $color, 5%) !important;
        @include button_border($color);
    }

    :active, :focus {
        @include click($color);
    }
}

body {
    margin: 0!important;
    padding: 0!important;
}

/* container style */
#container {
    margin: 0 10% 0 10%;
    box-shadow: 0 0 10px #444;
    height: 100%;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

    /* nav style */
    nav {
        background-color: $main-color;
    }

    .navbar {
        border-radius: 0;
        padding: .5rem 1rem;
    }

    .nav-link:hover {
        color: #FFF!important;
    }

    .dropdown-toggle::after {
        border: none;
    }

    /* content style */
    .container {
        flex: 1;
    }
    
    h1 {
        @extend %alignment;
        margin: 3% 0;
    }

    ul.nav-tabs {
        margin: 1% 0 0 0;

        li {
            margin: 0 1% 0 0;
        }

        li:not(.active) {
            margin: 1.5px 1% 0 1%;
        }

        .active {
            border: 1.5px solid #dee2e6;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: none;
            padding: 0 2%;
        }
    }

    .model-list .icon {
        margin-left: 0;
        display: inline-block;
    }

    .icon-trash {
        background-image: url("../img/trashbin.svg");
        display: block;
        height: 30px;
        width: 30px;
    }

    .icon-pencil {
        background-image: url("../img/pencil.svg");
        display: block;
        height: 30px;
        width: 30px;
    }

    form {
        margin-bottom: 1%;
    }

    #s2id_lines {
        width: 20%!important;
    }

    .btn-primary {
        @include button($main-color);
    }

    .btn:not(.btn-primary):not(.btn-danger) {
        color: #FFF;
        @include button($secondary-color);
    }

    /* footer */
    footer {
        @extend %alignment;
        left: 0;
        bottom: 0;
        width: 100%;
    }


    /* error page */
    .error {
        @extend %alignment;
    }

/* mobile style changes */
@media screen and (max-device-width: 768px) {
    #container{
        margin: 0;
    }

    .navbar {
        border-radius: 0;
    }

    .nav-link {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    ul.nav-tabs {
        margin: 10% 0 0 0;
        font-size: 120%;

        li {
            margin: 0 2%;
        }
    }
    
    #s2id_lines {
        width: 50%!important;
    }

    .btn {
        margin: 1%;
    }

    footer {
        margin: 5% 0 2% 0;
    }
}