/* Dani van Enk, 11823526 */
/* predefining some mulitple used colors */
/* alignment inheritance */
.admin, h1, footer, .error {
  text-align: center; }

/* button border color inheritance */
/* button when clicked inheritance */
body {
  margin: 0 !important;
  padding: 0 !important; }

/* container style */
#container {
  margin: 0 10% 0 10%;
  box-shadow: 0 0 10px #444;
  height: 100%;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.admin {
  width: 100%;
  background-color: #0AE;
  color: #FFF; }

.admin:hover {
  text-decoration: none;
  color: #000 !important; }

.admin:visited {
  color: #FFF; }

/* nav style */
nav {
  background-color: #E06; }

.navbar {
  border-radius: 0;
  padding: .5rem 1rem; }

.nav-link:hover {
  color: #FFF !important; }

.dropdown-menu {
  margin: 0 !important;
  left: auto;
  right: 0; }
  .dropdown-menu form {
    padding: 0 5%; }
  .dropdown-menu .btn-primary {
    background-color: #E06 !important;
    border-color: #bb0050 !important; }
    .dropdown-menu .btn-primary :hover {
      background-color: #d5005b !important;
      border-color: #bb0050 !important; }
    .dropdown-menu .btn-primary :active, .dropdown-menu .btn-primary :focus {
      background-color: #ca0057 !important;
      border-color: #bb0050 !important;
      box-shadow: 0 0 0 0.2rem #ff2281 !important; }

/* content style */
.container {
  flex: 1; }

img {
  position: inherit;
  float: right;
  margin: 2% 0; }

h1 {
  margin: 3% 0; }

ul.nav-tabs {
  margin: 2% 0 0 0; }
  ul.nav-tabs li {
    margin: 0 1% 0 0; }
  ul.nav-tabs li:not(.active) {
    margin: 1.5px 1% 0 1%; }
  ul.nav-tabs .active {
    border: 1.5px solid #dee2e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    padding: 0 2%; }

.model-list .icon {
  margin-left: 0;
  display: inline-block; }
  .model-list .icon button {
    border: none;
    background-color: transparent;
    padding: 0; }

.icon-trash {
  background-image: url("../img/trashbin.svg");
  display: block;
  height: 30px;
  width: 30px; }

.icon-pencil {
  background-image: url("../img/pencil.svg");
  display: block;
  height: 30px;
  width: 30px; }

.pagination {
  display: block; }
  .pagination ul {
    padding: 0; }
    .pagination ul li {
      list-style-type: none;
      display: initial !important;
      padding: 1% 2%;
      background-color: #E06; }
      .pagination ul li a {
        color: #FFF; }
    .pagination ul li.disabled {
      display: none !important; }
    .pagination ul .active {
      background-color: #0AE; }

form {
  margin-bottom: 1%; }

#s2id_lines {
  width: 20% !important; }

.btn-primary {
  background-color: #E06 !important;
  border-color: #bb0050 !important; }
  .btn-primary :hover {
    background-color: #d5005b !important;
    border-color: #bb0050 !important; }
  .btn-primary :active, .btn-primary :focus {
    background-color: #ca0057 !important;
    border-color: #bb0050 !important;
    box-shadow: 0 0 0 0.2rem #ff2281 !important; }

.btn:not(.btn-primary):not(.btn-danger) {
  color: #FFF;
  background-color: #0AE !important;
  border-color: #0086bb !important; }
  .btn:not(.btn-primary):not(.btn-danger) :hover {
    background-color: #0098d5 !important;
    border-color: #0086bb !important; }
  .btn:not(.btn-primary):not(.btn-danger) :active, .btn:not(.btn-primary):not(.btn-danger) :focus {
    background-color: #0091ca !important;
    border-color: #0086bb !important;
    box-shadow: 0 0 0 0.2rem #22c0ff !important; }

/* footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%; }

/* error page */
/* mobile style changes */
@media screen and (max-device-width: 768px) {
  #container {
    margin: 0; }

  .navbar {
    border-radius: 0; }

  .nav-link {
    padding-top: 5%;
    padding-bottom: 5%; }

  ul.nav-tabs {
    margin: 10% 0 0 0;
    font-size: 120%; }
    ul.nav-tabs li {
      margin: 0 2%; }

  .pagination {
    margin-top: 5%; }
    .pagination ul li {
      padding: 2% 5% !important; }

  #s2id_lines {
    width: 50% !important; }

  .btn {
    margin: 1%; }

  footer {
    margin: 5% 0 2% 0; } }

/*# sourceMappingURL=style_admin.css.map */
