<!--
    line page
    it extends from layout.html
    
    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Lines
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>{{ line }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            {{ line.stops | first }} - {{ line.stops | last}}<br>
            {{ line.stops | length}} stops
        </div>
        <div class="col-sm-6">
            <h2>Stops</h2>
            <ul>
                {% for stop in line.stops %}
                    <li>
                        <a href="{{ url_for('stop', id=stop.id) }}">
                            {{ stop }}
                        </a>
                        
                        <br>
                        Transfers:
                        <ul>
                            {% for line in stop.lines %}
                                <li>
                                    <a href="{{ url_for('line', id=line.id) }}">
                                        {{ line }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}