<!--
    line page
    it extends from layout.html
    
    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Lines
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>{{ current_line }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            {% set first = current_line.stops | first %}
            {% set last = current_line.stops | last %}
            <a href="{{ url_for('stop', id=first.id) }}">
                {{ first }}
            </a>
            -
            <a href="{{ url_for('stop', id=last.id) }}">
                {{ last }}
            </a>
            <br>
            {{ current_line.stops | length}} stops
        </div>
        <div class="table-responsive col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        {% for stop in current_line.stops %}
                        <th class="stop">
                            {{ stop | capitalize }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for type, stops in current_line.get_stops()[1].items() %}
                <tr>
                    <th>{{ type | capitalize }}</th>
                    {% for stop in stops %}
                    <td>
                        {% if stop %}
                        ●
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-6">
            <h2>Stops</h2>
            <ul>
                {% for stop in current_line.stops %}
                    <li>
                        <a href="{{ url_for('stop', id=stop.id) }}">
                            {{ stop }} ({{ stop.get_stopnumbers()[current_line] }})
                        </a>
                        
                        <br>
                        Transfers:
                        <ul>
                            {% for transfer_line in stop.lines %}
                                {% if (not transfer_line.name == current_line.name) and stop.lines|length > 1 %}
                                    <li>
                                        <a href="{{ url_for('line', id=transfer_line.id) }}">
                                            {{ transfer_line }}
                                        </a>
                                    </li>
                                {% elif stop.lines|length == 1 %}
                                    <li>
                                        None
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}