<!--
    register page
    uses the message parameter for feedback
    it extends from layout.html

    Dani van Enk, 11823526
-->

<!DOCTYPE html>

<html lang="en-us">

<head>

    <!-- declaration of the page title, charset -->
    <title>Final Project - Register</title>
    <meta charset="UTF-8">

    <!-- bootstrap inclusion -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- icon inclusion -->
    <link rel="icon" href="{{ url_for('static', filename='img/pizza_icon.png') }}">

    <!-- style and js inclusion -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/javascript.js') }}">
    </script>
</head>

<body>

    <!-- container of the page -->
    <div id="container">

        <!-- navbar -->
        <nav class="navbar navbar-light navbar-expand-lg" id="nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="nav_menu">
                    <a class="nav-item nav-link" href="{{ last }}">Back</a>
                </div>
            </div>
        </nav>

        <!-- content of the page -->
        <div class="container">
            <h1>Register here</h1>
            <hr>
            
            <!-- feedback for if the passwords arent the same -->
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            
            <!-- register form
                    from https://getbootstrap.com/docs/4.1/components/forms/ -->
            <form class="needs-validation" action="{{ url_for('register', page=last) }}"
                    method="post" novalidate>
            
                <!-- username form group -->
                <div class="form-group">
                    <label for="register_username">Username: </label>
                    <input type="username" class="form-control"
                        name="register_username" id="register_username"
                        placeholder="Username" required>
            
                    <!-- feedback for input -->
                    <div class="invalid-feedback">
                        Please enter a username.
                    </div>
                </div>
            
                <!-- password form group -->
                <div class="form-group">
                    <label for="register_password">Password</label>
                    <input type="password" name="register_password"
                        class="form-control" id="register_password"
                        placeholder="Password" required>
            
                    <!-- feedback for input -->
                    <div class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
            
                <!-- retype password group -->
                <div class="form-group">
                    <label for="register_rpassword">Retype Password</label>
                    <input type="password" name="register_rpassword"
                        class="form-control" id="register_rpassword"
                        placeholder="Retype Password" required>
            
                    <!-- feedback for input -->
                    <div class="invalid-feedback">
                        Please enter your password again.
                    </div>
                </div>
            
                <!-- email group -->
                <div class="form-group">
                    <label for="register_email">Email</label>
                    <input type="text" name="register_email"
                        class="form-control" id="register_email"
                        placeholder="Email" required>
            
                    <!-- feedback for input -->
                    <div class="invalid-feedback">
                        Please enter your Email.
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

        <!-- footer of the page -->
        <footer>Dani van Enk, Hakkajiten 2020</footer>
    </div>

    <!-- bootstrap scripts inclusion -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>