<!--
    stop page
    it extends from layout.html
    
    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Stops
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>{{ current_stop }}</h1>
    <hr>
    <div class="row">
        <!-- show stop info, stopnumber and location -->
        <div class="col-sm-6">
            Stop Number:
            
            <!-- make sure no duplicates -->
            {% set stopnumber_text = [] %}
            {% for line in current_stop.lines %}
                {% set stopnumber = current_stop.get_stopnumbers()[line] %}
                {% if not (stopnumber in stopnumber_text) %}
                    {{ stopnumber_text.append(stopnumber) or "" }}
                {% endif %}
            {% endfor %}

            {{ stopnumber_text | join(",")}}
            <br>
            Location: {{ current_stop.location }}
        </div>

        <!-- show transfers at current stop -->
        <div class="col-sm-6">
            <ul>
                <h2>Transfers</h2>
                <!-- get neighbours of current stop -->
                {% set neighbouring_stops = current_stop.get_neighbouring_stops() %}
                {% for line, type_dict  in neighbouring_stops.items() %}
                    <!-- show line link -->
                    <li>
                        <a href="{{ url_for('line', id=line.id) }}">{{ line }} ({{ current_stop.get_stopnumbers()[line] }})</a>

                    {% for type, neighbours in type_dict.items() %}
                        <!-- show stop type -->
                        <li>
                            {{ type | title }}
                        </li>

                        <!-- show neighbours for this stoptype -->
                        <ul class="neighbours">
                            {% if neighbours.previous %}
                                <li>
                                    <a href="{{ url_for('stop', id=neighbours.previous.id) }}">
                                        Previous stop: {{ neighbours.previous }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if neighbours.previous and neighbours.next %}
                                <div class="between">
                                    |
                                </div>
                            {% endif %}
                            {% if neighbours.next %}
                                <li>
                                    <a href="{{ url_for('stop', id=neighbours.next.id) }}">
                                        Next stop: {{ neighbours.next }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                    
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}