<!--
    stop page
    it extends from layout.html
    
    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Stops
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>{{ current_stop }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            {{ current_stop.location }}
        </div>
        <div class="col-sm-6">
            <ul>
                <h2>Transfers</h2>
                {% set neighbouring_stops = current_stop.get_neighbouring_stops() %}
                {% for line, type_dict  in neighbouring_stops.items() %}
                    <li>
                        <a href="{{ url_for('line', id=line.id) }}">{{ line }}</a>

                    {% for type, neighbours in type_dict.items() %}
                        <li>
                            {{ type | capitalize }}
                        </li>

                        <ul class="neighbours">
                            {% if neighbours.previous %}
                                <li>
                                    <a href="{{ url_for('stop', id=neighbours.previous.id) }}">
                                        Previous stop: {{ neighbours.previous }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if neighbours.previous and neighbours.next %}
                                <div class="between">|</div>
                            {% endif %}
                            {% if neighbours.next %}
                                <li>
                                    <a href="{{ url_for('stop', id=neighbours.next.id) }}">
                                        Next stop: {{ neighbours.next }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                    
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}