<!--
    line page
    it extends from layout.html
    
    references:
        https://jinja.palletsprojects.com/en/2.11.x/templates/

    Dani van Enk, 11823526
-->

{% extends "layout.html" %}

<!-- title of the page -->
{% block title %}
    Stops
{% endblock %}

<!-- content of the page -->
{% block content %}
    <h1>Stops</h1>
    <hr>
    <ul class="row">
        {% for stop in stops %}
            <a class="card col-sm-3", href="{{ url_for('stop', id=stop.id) }}">
                <li>{{ stop }} ({{ stop.location }})</li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}